

= content_for :sidebar do
  %ul
    %li.sidebar_title Control Panel
    %li
      Upload a file to this page.
      = render :partial=>'attachments/form'
    %li
      Set permissions >>
      = link_to 'Edit Access', access_control_entries_path(:resource_type=>"Page", :resource_id=>@page.id), |
      :confirm => "Are you sure?  Any unsaved changes on this page should be saved before leaving."
    %li= link_to 'New Page as child', new_page_path(:page_id=>@page.id), |
      :confirm => "Are you sure?  Any unsaved changes on this page should be saved before leaving."

