%li
  %ul
    %li= link_to attachment.file.original_filename, attachment.file.url
    %li Size: #{number_to_human_size attachment.file.size}
    %li Modified: #{attachment.updated_at.try(:strftime, "%D %R")}

