if (CKEDITOR.instances['page_body']) {CKEDITOR.remove(CKEDITOR.instances['page_body'])}
$('##{container}').#{ajax_function}(#{raw render_js('form')});
$('.ckeditor_textarea').ckeditor({filebrowserBrowseUrl : '/galleries'});

