#showBox.showBox
  %table
    %tr.row1
      %td.col1.toggle.showHide_hidden{"data-box-id" => "showBox"}
      %td.col2 Point Prescriptions
    %tr.row2.displayArea.showHide_hidden
      %td.col1
      %td.col2.contentPane

